<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>    
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html, body {
            width: 100%;
            height: 100vh;
        }

        .hello-container {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="hello-container">
        <h1>Hello!</h1>
    </div>
</body>
</html>