#footer-container {
    padding: 32vh 60px 22vh 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logotype-container {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

.footer-logotype-container-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logotype-text {
    color: #878a8f;
    font-weight: 900;
}

.footer-logotype-text-1 {
    font-size: 1.38rem;
}

.footer-logotype-text-2 {
    font-size: 1.63rem;
}

.footer-logo-icon {
    width: 48px;
    margin: 0 10px 0 0;
}

.footer-content-text-1 {
    width: 600px;
    font-size: 1.3rem
}

.footer-content-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    text-align: center;
}

.footer-content-title-1 {
    font-size: 1.6rem;
}

.social-network-container {
    margin: 20px 0 0 0;
    font-size: 1.4rem;
}

.social-whatsapp {
    display: flex;
    flex-direction: row;
}

.social-whatsapp-link {
    transition: all 0.5s ease-in-out;
    position: relative;
}

.social-whatsapp-link::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.425);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.social-whatsapp-link:hover::after {
    width: 100%;
}

.social-whatsapp-link:hover {
    transition: all 0.5s ease-in-out;
    transform: translateX(10px);
}

@media screen and (max-width: 968px) {
    #footer-container {
        justify-content: space-between;
        flex-direction: column;
        padding: 80px 10px 20px 10px;
        height: 410px;
    }

    .social-network-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 95px;
    }

    .social-whatsapp {
        flex-direction: column;
    }

    .footer-content-text-1 {
        max-width: 600px;
        min-width: 295px;
        width: 100%;
    }

    .footer-logotype-container-items {
        justify-content: center;
    }
}