#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 96vw;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.header-content-logo {
    display: flex;
    align-items: center;
    z-index: 1;
}

.header-title-name {
    font-size: 1.3em;
    font-weight: 600;
}

.header-title-profession {
    font-size: 1.1em;
    font-weight: 600;
}

.header-content-menu {
    padding: 8px 0 0 0;
}

.header-social-icon {
    width: 40px;
    transition: all 0.3s;
}

.header-social-icon:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.header-social-icon, :not(:last-child) {
    margin: 0 10px 0 0;
}

.header-logo-icon {
    width: 45px;
}
